# ![Fantasy](Images/Fantasy.jpg)

Congratulations! After a lot of hard work in the data munging mines, you've landed a job as Lead Analyst for an independent gaming company. You've been assigned the task of analyzing the data for their most recent fantasy game Heroes of Pymoli.

Like many others in its genre, the game is free-to-play, but players are encouraged to purchase optional items that enhance their playing experience. As a first task, the company would like you to generate a report that breaks down the game's purchasing data into meaningful insights.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

In [2]:
#Raw data file
csvfile = "Resources/purchase_data.csv"

In [3]:
#Read purchase data csv file and store into pandas data frame
purchase_df = pd.read_csv(csvfile)
purchase_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20.0,Male,108.0,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40.0,Male,143.0,Frenzied Scimitar,1.56
2,2,Ithergue48,24.0,Male,92.0,Final Critic,4.88
3,3,Chamassasya86,24.0,Male,100.0,Blindscythe,3.27
4,4,Iskosia90,23.0,Male,131.0,Fury,1.44

## Player Count

* Total Number of Players

In [4]:
#Count total number of players (assuming one SN per player)
#there should be only one player per SN
player_count = len(purchase_df["SN"].unique())
player_count_summary_df = pd.DataFrame({"Total Number of Players": [player_count]})
player_count_summary_df

   Total Number of Players
0                      577

## Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [5]:
#count number of unique items
uniqueitems = len(purchase_df["Item ID"].value_counts())
uniqueitems

183

In [6]:
#average price
avg_price = round(purchase_df["Price"].mean(),2)
avg_price

3.05

In [7]:
#number of purchases
purchase_number = purchase_df["Purchase ID"].count()
purchase_number

808

In [8]:
#no need to change to float
#total revenue
total_rev = purchase_df["Price"].sum()
total_rev

2399.7700000000004

In [9]:
#Summary Data Frame
uniqueitems_summary_df = pd.DataFrame({"Number of Unique Items": [uniqueitems],
                          "Average Purchase Price": [avg_price],
                          "Number of Purchases": [purchase_number],
                          "Total Revenue": [total_rev]})
uniqueitems_summary_df.style.format({'Average Purchase Price':'${:,.2f}',
                                     'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [10]:
#set index
id_index = purchase_df.set_index("Gender")
#print for verification
id_index.head()

,Purchase ID,SN,Age,Item ID,Item Name,Price
Gender,,,,,,
Male,0,Lisim78,20.0,108.0,"Extraction, Quickblade Of Trembling Hands",3.53
Male,1,Lisovynya38,40.0,143.0,Frenzied Scimitar,1.56
Male,2,Ithergue48,24.0,92.0,Final Critic,4.88
Male,3,Chamassasya86,24.0,100.0,Blindscythe,3.27
Male,4,Iskosia90,23.0,131.0,Fury,1.44

In [11]:
#find the count and percentage of males using loc
male_count = len(id_index.loc["Male", "SN"].unique())
#male_count
male_percent = round((male_count/player_count*100),2)
#male_percent

male_players = pd.DataFrame({"Count of Male Players": [male_count],
                             "Percentage of Male Players": [male_percent]})
male_players

   Count of Male Players  Percentage of Male Players
0                    484                       83.88

In [12]:
#find the count and percentage of females using loc
female_count = len(id_index.loc["Female", "SN"].unique())
#female_count
female_percent = round((female_count/player_count*100),2)
#female_percent

female_players = pd.DataFrame({"Count of Female Players": [female_count],
                             "Percentage of Female Players": [female_percent]})
female_players

   Count of Female Players  Percentage of Female Players
0                       81                         14.04

In [13]:
#find the count and percentage of other/non-disclosed using loc
other_count = len(id_index.loc["Other / Non-Disclosed", "SN"].unique())
#other_count
other_percent = round((other_count/player_count*100),2)
other_percent

other_players = pd.DataFrame({"Count of Other/Non-Disclosed Players": [other_count],
                             "Percentage of Other/Non-Disclosed Players": [other_percent]})
other_players

,Count of Other/Non-Disclosed Players,Percentage of Other/Non-Disclosed Players
0,11,1.91

In [14]:
gender_demographics_df = pd.DataFrame(
    data = {'Count': [male_count, female_count, other_count],
           'Percentage': [male_percent, female_percent, other_percent]},
    index = ['Male', 'Female', 'Other / Non-Disclosed'])

gender_demographics_df

                       Count  Percentage
Male                     484       83.88
Female                    81       14.04
Other / Non-Disclosed     11        1.91

## Purchasing Analysis (Gender)

* The below each broken by gender
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Gender

In [15]:
#purchasing analysis of males
male_purchasecount = id_index.loc["Male", "Purchase ID"].count()
#male_purchasecount

male_avgpurchaseprice = round(id_index.loc["Male", "Price"].mean(),2)
#male_avgpurchaseprice

male_total = id_index.loc["Male", "Price"].sum()
#male_total

avg_male_total = round((male_total/male_count),2)
avg_male_total

4.1

In [22]:
#purchasing analysis of females
female_purchasecount = id_index.loc["Female", "Purchase ID"].count()
#female_purchasecount

female_avgpurchaseprice = round(id_index.loc["Female", "Price"].mean(),2)
#female_avgpurchaseprice

female_total = id_index.loc["Female", "Price"].sum()
#female_total

avg_female_total = round((female_total/female_count),2)
avg_female_total

4.53

In [23]:
#purchasing analysis of other/non-disclosed
other_purchasecount = id_index.loc["Other / Non-Disclosed", "Purchase ID"].count()
#other_purchasecount

other_avgpurchaseprice = round(id_index.loc["Other / Non-Disclosed", "Price"].mean(),2)
#other_avgpurchaseprice

other_total = id_index.loc["Other / Non-Disclosed", "Price"].sum()
#other_total

avg_other_total = round((other_total/other_count),2)
avg_other_total

4.56

In [24]:
purchasing_analysis_df = pd.DataFrame(
    data = {'Purchase Count': [male_purchasecount, female_purchasecount, other_purchasecount],
           'Average Purchase Price': [male_avgpurchaseprice,female_avgpurchaseprice, other_avgpurchaseprice],
           'Total Purchase Value': [male_total,female_total,other_total],
           'Average Purchase Total per Person': [avg_male_total,avg_female_total,avg_other_total]},
    index = ['Male', 'Female', 'Other / Non-Disclosed'])

purchasing_analysis_df.style.format({'Average Purchase Value':'${:,.2f}',
                                     'Average Purchase Price':'${:,.2f}',
                                     'Average Purchase Total per Person':'${:,.2f}'})

## Age Demographics

* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
  * Purchase Count
  * Average Purchase Price
  * Total Purchase Value
  * Average Purchase Total per Person by Age Group